@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@

 @main("About Us") {

  <div class="container-fluid">
      ​​<div class="container">
    <div class="jumbotron">
      <h1 align="center">About us</h1>   
  <hr>	
      <h2 align="center">We are Dublins newest and best rated club </h2>
    <h2></h2>
    </div>
       
  </div>  
      <!-- this css class is not part of bootstrap but is defined in /css/style.css -->
      <div class="container-fluid">
          <div class="row">
          
          
          
            <div class="col-sm-8" style="background-color:lavender;"><iframe width="100%" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Tallaght&key=AIzaSyBdV7YjR4X3XOEbKVgSDIjOH7Viqn3mGrM" allowfullscreen></iframe></div>
            
          
          
          <div class="col-sm-4" style="background-color:lavenderblush;"><h2>Where are we ?</h2>We are located in the heart of Tallaght, Dublin. Our offices lay beside the Institute Of Technology Tallaght in Tallaght Village, Just across Main street. </div>
          <div class="col-sm-4" style="background-color:lavenderblush;"><h2></h2></div>
          </div>
        </div>
 }